In [35]:
import pandas as pd
import numpy as np
from matplotlib import dates
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import seaborn as sns
import tqdm

In [36]:
df_all = pd.read_csv(r'data/preprocessing_data_A.csv', low_memory=False)
df_all['Time'] = pd.to_datetime(df_all['Time'])

In [37]:
df_all.columns

Index(['Time', 'Tmp', 'TmpMax', 'TmpMin', 'VCell', 'VCellMax', 'VCellMin', 'A',
       'AChaMax', 'ADisChaMax', 'EvtVnd1', 'EvtVnd2', 'EvtVnd3', 'SoC', 'V',
       'W', 'WChaMax', 'WDisChaMax', 'Racks'],
      dtype='object')

In [38]:
len(df_all)

10151492

In [6]:
df = df_all[['Time', 'Tmp', 'TmpMax', 'TmpMin', 'VCell', 'VCellMax', 'VCellMin', 'A','SoC', 'V','W', 'Racks']]

In [7]:
for i in df.columns:
    print(i, ":", df[f'{i}'].isnull().sum())

Time : 0
Tmp : 112
TmpMax : 112
TmpMin : 112
VCell : 112
VCellMax : 112
VCellMin : 112
A : 154
SoC : 112
V : 154
W : 154
Racks : 0

In [8]:
confing = df['Tmp'].isnull() | df['TmpMax'].isnull() | df['TmpMin'].isnull() | df['VCell'].isnull() | df['VCellMax'].isnull() | df['VCellMin'].isnull() | df['A'].isnull() | df['SoC'].isnull() | df['V'].isnull() | df['W'].isnull()

In [9]:
df_nan = df[confing]

In [ ]:
df_nan

In [ ]:
for i in df_nan['Racks'].index:
    print(df_nan.loc[i]['Racks'], df_nan.loc[i]['Time'], "data index :", i)

In [ ]:
for i in range(14):
    print("racks_{}.shape".format(i),df_nan[df_nan['Racks'] == 'racks_{}'.format(i)].shape)

In [42]:
df_nan_count = df_nan[df_nan['Racks'] == 'racks_13']

In [ ]:
for e in range(1,13):
    globals()['rack_2019_{}'.format(e)] = 0
for z in range(1,13):
    globals()['rack_2020_{}'.format(z)] = 0

for i in df_nan_count.index:
    if df_nan_count.loc[i]['Time'][:-12] == "2019-01":
        rack_2019_1 +=1
    elif df_nan_count.loc[i]['Time'][:-12] == "2019-02":
        rack_2019_2 +=1
    elif df_nan_count.loc[i]['Time'][:-12] == "2019-03":
        rack_2019_3 +=1
    elif df_nan_count.loc[i]['Time'][:-12] == "2019-04":
        rack_2019_4 +=1
    elif df_nan_count.loc[i]['Time'][:-12] == "2019-05":
        rack_2019_5 +=1
    elif df_nan_count.loc[i]['Time'][:-12] == "2019-06":
        rack_2019_6 +=1
    elif df_nan_count.loc[i]['Time'][:-12] == "2019-07":
        rack_2019_7 +=1
    elif df_nan_count.loc[i]['Time'][:-12] == "2019-08":
        rack_2019_8 +=1
    elif df_nan_count.loc[i]['Time'][:-12] == "2019-09":
        rack_2019_9 +=1
    elif df_nan_count.loc[i]['Time'][:-12] == "2019-10":
        rack_2019_10 +=1
    elif df_nan_count.loc[i]['Time'][:-12] == "2019-11":
        rack_2019_11 +=1
    elif df_nan_count.loc[i]['Time'][:-12] == "2019-12":
        rack_2019_12 +=1
    elif df_nan_count.loc[i]['Time'][:-12] == "2020-01":
        rack_2020_1 +=1
    elif df_nan_count.loc[i]['Time'][:-12] == "2020-02":
        rack_2020_2 +=1
    elif df_nan_count.loc[i]['Time'][:-12] == "2020-03":
        rack_2020_3 +=1
    elif df_nan_count.loc[i]['Time'][:-12] == "2020-04":
        rack_2020_4 +=1
    elif df_nan_count.loc[i]['Time'][:-12] == "2020-05":
        rack_2020_5 +=1
    elif df_nan_count.loc[i]['Time'][:-12] == "2020-06":
        rack_2020_6 +=1
    elif df_nan_count.loc[i]['Time'][:-12] == "2020-07":
        rack_2020_7 +=1
    elif df_nan_count.loc[i]['Time'][:-12] == "2020-08":
        rack_2020_8 +=1
    elif df_nan_count.loc[i]['Time'][:-12] == "2020-09":
        rack_2020_9 +=1
    elif df_nan_count.loc[i]['Time'][:-12] == "2020-10":
        rack_2020_10 +=1
    elif df_nan_count.loc[i]['Time'][:-12] == "2020-11":
        rack_2020_11 +=1
    elif df_nan_count.loc[i]['Time'][:-12] == "2020-12":
        rack_2020_12 +=1

for n in range(1,13):
    print(f"rack_2019_{n} :", globals()[f'rack_2019_{n}'])
for n in range(1,13):
    print(f"rack_2020_{n} :",  globals()[f'rack_2020_{n}'])

## NaN 값 채우기

In [39]:
def fill_data_nan(df, start_time: str, end_time: str):
    start = pd.Timestamp(start_time)
    end   = pd.Timestamp(end_time)
    target = ['Time', 'Tmp', 'TmpMax', 'TmpMin', 'VCell', 'VCellMax', 'VCellMin', 'A','SoC', 'V','W']

    for i in range(14):
        temp_df = df[(start <= df['Time']) & (df['Time'] <= end) & (df['Racks'] == f'racks_{i}')].loc[:, target]
        for e in temp_df.columns[1:]:
            temp_df[e] = pd.Series(temp_df[e]).interpolate()
        df.loc[temp_df.index[0]:temp_df.index[-1], target] = temp_df
    return df

In [40]:
df_all = fill_data_nan(df=df_all, start_time='2019-03-20 00:00:00', end_time='2019-03-20 23:59:00')
df_all = fill_data_nan(df=df_all, start_time='2019-07-28 00:00:00', end_time='2019-07-28 23:59:00')
df_all = fill_data_nan(df=df_all, start_time='2019-08-31 00:00:00', end_time='2019-08-31 23:59:00')
df_all = fill_data_nan(df=df_all, start_time='2019-09-16 00:00:00', end_time='2019-09-16 23:59:00')

## all racks drop

In [41]:
def drop_data_nan(df, start_time: str, end_time: str, target_rack: str):
    start = pd.Timestamp(start_time)
    end   = pd.Timestamp(end_time)
    target = ['Time', 'Tmp', 'TmpMax', 'TmpMin', 'VCell', 'VCellMax', 'VCellMin', 'A','SoC', 'V','W', 'Racks']

    temp_df = df[(start <= df['Time']) & (df['Time'] <= end) & (df['Racks'] == f'{target_rack}')].loc[:, target]
    df = df.drop(index=temp_df.index)
    return df

In [42]:
for e in range(14):
    df_all = drop_data_nan(df_all, '2019-03-20 00:00:00', '2019-03-20 23:59:00', "racks_{}".format(str(e)))
for e in range(14):
    df_all = drop_data_nan(df_all, '2019-08-31 00:00:00', '2019-08-31 23:59:00', "racks_{}".format(str(e)))

In [43]:
confing = df_all['Tmp'].isnull() | df_all['TmpMax'].isnull() | df_all['TmpMin'].isnull() | df_all['VCell'].isnull() | df_all['VCellMax'].isnull() | df_all['VCellMin'].isnull() | df_all['A'].isnull() | df_all['SoC'].isnull() | df_all['V'].isnull() | df_all['W'].isnull()

In [46]:
df_nan= df_all[confing]

In [47]:
df_nan

Empty DataFrame
Columns: [Time, Tmp, TmpMax, TmpMin, VCell, VCellMax, VCellMin, A, AChaMax, ADisChaMax, EvtVnd1, EvtVnd2, EvtVnd3, SoC, V, W, WChaMax, WDisChaMax, Racks]
Index: []

In [48]:
target = ['Time', 'Tmp', 'TmpMax', 'TmpMin', 'VCell', 'VCellMax', 'VCellMin', 'A','SoC', 'V','W', 'EvtVnd1', 'EvtVnd2', 'EvtVnd3','Racks']

In [49]:
df_new = df_all[target]

In [50]:
df_new

,Time,Tmp,TmpMax,TmpMin,VCell,VCellMax,VCellMin,A,SoC,V,W,EvtVnd1,EvtVnd2,EvtVnd3,Racks
0,2019-01-01 00:00:00,23.5,25.5,21.5,3.429,3.452,3.402,0.0,4.0,816.3,0.0,NaN,NaN,NaN,racks_0
1,2019-01-01 00:01:00,23.5,25.5,21.5,3.429,3.452,3.402,0.0,4.0,816.3,0.0,NaN,NaN,NaN,racks_0
2,2019-01-01 00:02:00,23.5,25.5,21.5,3.429,3.452,3.401,0.0,4.0,816.3,0.0,NaN,NaN,NaN,racks_0
3,2019-01-01 00:03:00,23.5,25.5,21.5,3.429,3.452,3.401,0.0,4.0,816.3,0.0,NaN,NaN,NaN,racks_0
4,2019-01-01 00:04:00,23.5,25.5,21.5,3.429,3.454,3.402,0.0,4.0,816.3,0.0,NaN,NaN,NaN,racks_0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10151487,2020-07-11 17:51:00,25.0,25.0,24.5,3.852,3.858,3.841,0.0,70.5,916.7,0.0,NaN,NaN,NaN,racks_13
10151488,2020-07-11 17:52:00,25.0,25.0,24.5,3.852,3.858,3.841,0.0,70.5,916.7,0.0,NaN,NaN,NaN,racks_13
10151489,2020-07-11 17:53:00,25.0,25.0,24.5,3.852,3.858,3.841,0.0,70.5,916.7,0.0,NaN,NaN,NaN,racks_13
10151490,2020-07-11 17:54:00,25.0,25.0,24.5,3.851,3.859,3.841,0.0,70.5,916.7,0.0,NaN,NaN,NaN,racks_13
10151491,2020-07-11 17:55:00,25.0,25.0,24.5,3.851,3.859,3.841,0.0,70.5,916.7,0.0,NaN,NaN,NaN,racks_13